html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

* {
  padding-left: 5px;
  padding-right: 5px;
}

body {
  background-color: #FFF;
  margin: 0 0%;
  padding: 0;
}




.main-header {
  background-color: #FAFAFA;
  width: 100%;
  padding: 10px;
  margin-top: 0;
  padding-bottom: 25px;
}

.nav {
  width: auto;
  width: 100%;
}


.about-me, footer {
  background-color: #FAFAFA
}

h1 {
  font-size: 2.5em;
  text-align: center;
  padding-bottom: 5px;
  font-family: 'Cuprum', sans-serif;
}

.portfolio {
  padding-bottom: 25px;
}


.main-header ul {
  padding: 0;
  margin-right: 30px;
}

.main-header li {
  background-color: white;
  /* padding: 20px 15px; */
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  text-align: center;
  font-size: 23px;
  font-family: 'Cuprum', sans-serif;
  height: 15px;
  display: block;
  list-style: none;
}

.profile {
  width: 70%;
  height: 70%;
  margin-top: 30px;
  padding: 12px 15%;
}

p {
  text-align: center;
  font-size: 25px;
  font-family: 'Cuprum', sans-serif;
  font-weight: lighter;
  padding-left: 15px;
  padding-right: 15px;
}

h2 {
  padding-top: 30px;
  padding-bottom: 40px;
}

h2,
h3,
h4 {
  text-align: center;
  font-family: 'Cuprum', sans-serif;
}

h3 {
  font-size: 1.6em;
  font-weight: bolder;
  padding-top: 10px;
}

h4 {
  font-size: 1.5em;
  font-weight: bold;

}

H5 {
  font-size: 1.2em;
  display: inline-block;
float: right;
padding-right: 15px;

}

img {
  width: 95%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  margin: auto;
}

.about-me {
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-me li {
  list-style: none;
  font-size: 1.3em;
  padding-bottom: 20px;
  text-align: center;
}

.about-me span {
  font-weight: bolder;
}

/* hr {
  background-color: #FAFAFA;
  padding-top: 0;
  padding-bottom: 0;
} */

.about-me h4 {
  text-align: center;
}

footer h4 {
  display: inline-block;
  padding-left: 15px;
}

a {
  text-decoration: none;
  color: black;
   font-weight: bolder;
}

hr {
  margin: 0;
  /* padding: 0; */
  height: .1px;
  border: solid 2px rgb(242,242,242);
width: 95%;
margin: 0 auto;
}


@media (min-width: 768px) {
  .nav li {
    display: inline-block;
    background-color: #FAFAFA;
  }
  .nav {
    text-align: center;
    padding-bottom: 15px;
  }

  .profile {
    float: right;
    width: 32%;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 0;
margin: 0 auto;
  }

  .bio {
    display: inline;
    padding-left: 10px;
    font-size: 1.3em;
  }
.main-header {
  padding-bottom: 100px;
}

.portfolio {
  width: 45%;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

p {
  font-size: 20px;
}

img {
width: 100%;
}


}




@media (min-width:1024px) {

}
